.submission-link {
    color: #5f9fd6 !important;
}

.theme--dark .submission-link {
    color: #55b6e2 !important;
}

.record-status--text.partial {
    color: #0cc!important
}

.record-status--border.partial {
    border-left: .1875rem solid #0cc
}

.record-status--icon.partial:before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1000'%3E%3Cpath d='m200 666 600 0 0 111-600 0 0-111z' fill='%230cc'/%3E%3C/svg%3E");
}

.page--record_detail .subtask.pass {
    background-color: #cfc !important;
    border-left: .1875rem solid #cfc !important;
}

.page--record_detail .subtask.fail {
    background-color: #fcc !important;
    border-left: .1875rem solid #fcc !important;
}

.page--record_detail .subtask.partial {
    background-color: #cff !important;
    border-left: .1875rem solid #cff !important;
}

.page--record_detail .subtask.ignored {
    background-color: #ccc !important;
    border-left: .1875rem solid #ccc !important;
}

.theme--dark.page--record_detail .subtask.pass {
    background-color: #040 !important;
    border-left: .1875rem solid #040 !important;
}

.theme--dark.page--record_detail .subtask.fail {
    background-color: #600 !important;
    border-left: .1875rem solid #600 !important;
}

.theme--dark.page--record_detail .subtask.partial {
    background-color: #055 !important;
    border-left: .1875rem solid #055 !important;
}

.theme--dark.page--record_detail .subtask.ignored {
    background-color: #666 !important;
    border-left: .1875rem solid #666 !important;
}
