{% extends "layout/basic.html" %}
{% block content %}
<div class="row">
  <div class="medium-12 columns">
    <div class="section visible">
      <div class="section__header">
        <h1 class="section__title">{{ _('Sleeping Cup Submission') }} <a href="/submission/{{ rdoc.numberId }}" class="submission-link">#{{ rdoc.numberId }}</a> ({{ rdoc._id|string }})</h1>
        <h1 class="section__title">{{ _('detail_1') }} #{{ rdoc.testCases[idx].subtaskId }}{{ _('detail_2') }} #{{ rdoc.testCases[idx].id }}</h1>
        <h2 class="section__title">{{ _('Verdict: ') }}<span class="record-status--text {{ model.builtin.STATUS_CODES[rdoc.testCases[idx].status] }}">{{ model.builtin.STATUS_TEXTS[rdoc.testCases[idx].status] }} ({{ rdoc.testCases[idx].score }})</span></h2>
        <h2 class="section__title">{{ _('Time: ') }}{{ rdoc.testCases[idx].time|round|int }} ms</h2>
        <h2 class="section__title">{{ _('Memory: ') }}{{ rdoc.testCases[idx].memory|round|int }} KiB</h2>
      </div>
      <div class="section__body">
        <h3 class="section__title">{{ _('Detail Input') }}</h3>
        <pre class="judge-text">{% if rdoc.testCases[idx].inData === null %}{{ _('[REDACTED]') }}{% else %}{{ rdoc.testCases[idx].inData|default(_('[REDACTED]'))|ansi|safe }}{% endif %}</pre>
        <h3 class="section__title">{{ _('Detail Answer') }}</h3>
        <pre class="judge-text">{% if rdoc.testCases[idx].ansData === null %}{{ _('[REDACTED]') }}{% else %}{{ rdoc.testCases[idx].ansData|default(_('[REDACTED]'))|ansi|safe }}{% endif %}</pre>
        <h3 class="section__title">{{ _('Detail Output') }}</h3>
        <pre class="judge-text">{% if rdoc.testCases[idx].outData === null %}{{ _('[REDACTED]') }}{% else %}{{ rdoc.testCases[idx].outData|default(_('[REDACTED]'))|ansi|safe }}{% endif %}</pre>
        <h3 class="section__title">{{ _('Detail Log') }}</h3>
        <pre class="judge-text">{% if rdoc.testCases[idx].errData === null %}{{ _('[REDACTED]') }}{% else %}{{ rdoc.testCases[idx].errData|default(_('[REDACTED]'))|ansi|safe }}{% endif %}</pre>
        <h3 class="section__title">{{ _('Detail Message') }}</h3>
        <pre class="judge-text">{{ formatJudgeTexts([rdoc.testCases[idx].message])|ansi|safe if rdoc.testCases[idx].message else '' }}</pre>
      </div>
    </div>
  </div>
</div>

{% endblock %}

