<div class="section visible" id="status" data-status="{{ rdoc.status }}">
  <div class="section__header">
    {% if rdoc.numberId %}
    <h1 class="section__title">{{ _('Sleeping Cup Submission') }} <a href="/submission/{{ rdoc.numberId }}" class="submission-link">#{{ rdoc.numberId }}</a> ({{ rdoc._id|string }})</h1>
    <h3 class="section__title submission-link" onclick="document.querySelectorAll('.case').forEach((e) => e.style = '');">{{ _('Click here to show the passed cases.') }}</h3>
    <h3 class="section__title">{{ _('Click the case ID for more details.') }}</h3>
    <hr>
    {% endif %}
    <h1 class="section__title">
      <span class="icon record-status--icon {{ model.builtin.STATUS_CODES[rdoc['status']] }}"></span>
      {% if typeof(rdoc['score']) == 'number' %}
      <span style="color: {{ utils.status.getScoreColor(rdoc.score|default(0)) }}">{{ rdoc.score|default(0) }}</span>
      {% endif %}
      <span class="record-status--text {{ model.builtin.STATUS_CODES[rdoc['status']] }}">
        {{ model.builtin.STATUS_TEXTS[rdoc['status']] }}
      </span>
      {% if rdoc.progress %}{{ rdoc.progress|int }}%{% endif %}
    </h1>
  </div>
  {% if rdoc.compilerTexts.length %}
  <div class="section__body">
    <pre
      class="compiler-text">{{ rdoc.compilerTexts|join('\n')|ansi|safe }}<div class="compiler-text-mask"><p><span class="icon icon-expand_more">{{ _('Expand') }}</span></p></div></pre>
  </div>
  {% endif %}
  {% if rdoc.judgeTexts.length %}
  <div class="section__body">
    <pre class="judge-text">{{ formatJudgeTexts(rdoc.judgeTexts)|ansi|safe }}</pre>
  </div>
  {% endif %}
  {% if rdoc.testCases.length %}
  <div class="section__body no-padding">
    <table class="data-table record_detail__table">
      <colgroup>
        <col class="col--case">
        <col class="col--status">
        <col class="col--time">
        <col class="col--memory">
      </colgroup>
      <thead>
        <tr>
          <th class="col--case record-status--border">#</th>
          <th class="col--status">
            {{ _('Status') }}
            <span class="float-right">{{ _('Score') }}</span>
          </th>
          <th class="col--time">{{ _('Time Cost') }}</th>
          <th class="col--memory">{{ _('Memory Cost') }}</th>
        </tr>
      </thead>
      <tbody>
        {% set _key = 'id' if rdoc.testCases|groupby('subtaskId')|length == 1 and rdoc.subtasks and rdoc.subtasks[Object.keys(rdoc.subtasks)[0]].type == 'sum' else 'subtaskId' %}
        {%- for subtaskId, rcdocs in rdoc.testCases|sort(false,false,_key)|groupby(_key) -%}
        {% if _key == 'subtaskId' or subtaskId == 1 %}
        <tr class="subtask {% if not rdoc.progress %}{{ model.builtin.STATUS_CODES[rdoc.subtasks[subtaskId]['status']]|default('ignored') }}{% endif %}">
          <td class="col--case">
            ({{ subtaskId|int|default(1) }})
          </td>
          {% set skipped_count = 0 %}
          {%- for rcdoc in rcdocs -%}
          {% if rcdoc['status'] == 9 %}
          {% set skipped_count = skipped_count + 1 %}
          {%- endif -%}
          {%- endfor -%}
          {% if rdoc.subtasks %}
          <td class="col--status">
            <span
              class="icon record-status--icon {% if not rdoc.progress %}{{ model.builtin.STATUS_CODES[rdoc.subtasks[subtaskId]['status']]|default('ignored') }}{% endif %}"></span>
            <span class="record-status--text {% if not rdoc.progress %}{{ model.builtin.STATUS_CODES[rdoc.subtasks[subtaskId]['status']]|default('ignored') }}{% endif %}">
              {% if not rdoc.progress %}{{ model.builtin.STATUS_TEXTS[rdoc.subtasks[subtaskId]['status']]|default('Cancelled') }}{% endif %}
            </span>
            {% if skipped_count %}
            <span> ({{ skipped_count }} {{ _('cases skipped') }})</span>
            {% endif %}
            <span
              class="float-right record-status--text {% if not rdoc.progress %}{{ model.builtin.STATUS_CODES[rdoc.subtasks[subtaskId]['status']]|default('ignored') }}{% endif %}">{% if not rdoc.progress %}{{ rdoc.subtasks[subtaskId]['score']|default(0) }}{% endif %}</span>
          </td>
          <td class="col--time"></td>
          <td class="col--memory"></td>
          {% endif %}
        </tr>
        {% endif %}
        {%- for rcdoc in rcdocs|sort(false,false,'id') -%}
        {%- if rcdoc['status'] != 9 -%}
        {%- if rcdocs.length != 1 or rcdoc.time != 0 or rcdoc.memory != 0 or rcdoc.message or _key == 'id' and rdoc.testCases.length > 1 -%}
        <tr class="case"{% if rcdoc['status'] == 1 %} style="display: none;"{% endif %}>
          <td class="col--case record-status--border {{ model.builtin.STATUS_CODES[rcdoc['status']] }}">
            <a href="/submission/detail/{{ rdoc.numberId }}/{{ rcdoc.subtaskId|int|default(1) }}/{{ rcdoc.id|default(loop.index) }}">#{{ rcdoc.id|int|default(1) }}</a>
          </td>
          <td class="col--status">
            <span class="icon record-status--icon {{ model.builtin.STATUS_CODES[rcdoc['status']] }}"></span>
            <span class="record-status--text {{ model.builtin.STATUS_CODES[rcdoc['status']] }}">
              {{ model.builtin.STATUS_TEXTS[rcdoc['status']] }}
            </span>
            <span class="message">{{ formatJudgeTexts([rcdoc.message])|ansi|safe if rcdoc.message else '' }}</span>
          </td>
          <td class="col--time">{% if rcdoc['status'] == STATUS.STATUS_TIME_LIMIT_EXCEEDED or rcdoc['status'] ==
            STATUS.STATUS_MEMORY_LIMIT_EXCEEDED or rcdoc['status'] == STATUS.STATUS_OUTPUT_LIMIT_EXCEEDED %}&ge;{% endif
            %}{{ rcdoc.time|round|int }}ms</td>
          <td class="col--memory">{% if rcdoc['status'] == STATUS.STATUS_TIME_LIMIT_EXCEEDED or rcdoc['status'] ==
            STATUS.STATUS_MEMORY_LIMIT_EXCEEDED or rcdoc['status'] == STATUS.STATUS_OUTPUT_LIMIT_EXCEEDED %}&ge;{% endif
            %}{{ size(rcdoc.memory, 1024) }}</td>
        </tr>
        {% endif %}
        {% endif %}
        {%- endfor -%}
        {%- endfor -%}
      </tbody>
    </table>
  </div>
  {% endif %}
</div>
