{% if payload.length %}
<div class="section">
  <div class="section__header">
    <h1 class="section__title">{{ _('Ranking') }}</h1>
  </div>
  <div class="section__body no-padding" style="overflow: hidden">
    <div>
      <table class="data-table">
        <colgroup>
          <col class="col--rank">
          <col class="col--user">
          <col class="col--rp">
          <col class="col--rp">
          <col class="col--rp">
          <col class="col--rp">
          <col class="col--rp">
        </colgroup>
        <thead>
          <tr>
            <th class="col--rank">{{ _('Rank') }}</th>
            <th class="col--user">{{ _('Username') }}</th>
            <th class="col--rp">{{ _('Rating') }}</th>
            <th class="col--rp">{{ _('Quality') }}</th>
            <th class="col--rp">{{ _('Max Rating') }}</th>
            <th class="col--rp">{{ _('Contests') }}</th>
            <th class="col--rp">{{ _('Updated At') }}</th>
          </tr>
        </thead>
        <tbody>
          {%- for uid in payload -%}
          {% set udoc = udict[uid] %}
          <tr>
            <td class="col--rank">{{ udoc.rank }}</td>
            <td class="col--user">{{ user.render_inline(udoc, levelbadge=false) }}</td>
            <td class="col--rp">{{ udoc.rp|default(0) }}</td>
            <td class="col--rp">{{ udoc.rpInfo.quality|default(0) }}</td>
            <td class="col--rp">{{ udoc.rpInfo.maxRp|default(0) }}</td>
            <td class="col--rp">{{ udoc.rpInfo.participation|default(0) }}</td>
            <td class="col--rp">{{ '#' if udoc.rpInfo.lastParticipation else '' }}{{ udoc.rpInfo.lastParticipation|default('-') }}</td>
          </tr>
          {%- endfor -%}
        </tbody>
      </table>
    </div>
    <ul class="pager pager-bottom"><li>
      <a class="pager__item next link" href="{{ url('ranking') }}">{{ _('More') }} ></a>
    </li></ul>
  </div>
</div>
{% endif %}
